# Erivando Sena<erivandosena@gmail.com>

version: '3.9'

services:
  app-build:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - "1.0.0"
        - 2428676974207265762d7061727365202d2d73686f7274204845414429
    image: erivando/crud-tarefas-ruby:debug
    container_name: crud-tarefas
    restart: always
    volumes:
      - db_data:/app/db
    ports:
      - "8030:80"
    networks:
      - development

volumes:
  db_data:
    driver: local
    
networks:
 development:
   name: development
   external: false
   driver: bridge